<div class="card">
  <div class="header">
    <h1 class="title cursor-pointer" (click)="goBack()">
      <i class="ti-back-left"></i>
      {{titleText}}
    </h1>
  </div>
  <div class="content">
    <form [formGroup]="officeForm" (ngSubmit)="save(officeForm)">
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group" [ngClass]="{ 'has-error': !officeForm.controls['name'].valid && officeForm.controls['name'].dirty }">
            <label for="office-name">
              Office name:
            </label>
            <input formControlName="name" (keyup)="saveInput($event)" id="office-name" type="text" class="form-control border-input">
            <p class="help-block" *ngIf="!officeForm.controls['name'].valid">Please enter the office name.</p>
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-fill btn-primary btn-wd">Save</button>
      <button class="btn btn-fill btn-danger btn-wd" (click)="goBack()">Cancel</button>
    </form>
  </div>
</div>