th {
    font-size: 150%;
}

.row,
.display-type {
    display: flex;
    align-items: center;
}

.display-type {
    justify-content: space-around;
}

.display-type .category {
    margin: 0;
}

.justify-content-center .btn {
    margin-right: 1rem;
}

.office {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.office .card {
    width: 45%;
    margin: 1rem;
}