<div class="card">
  <div class="header">
    <div class="row">
      <div class="col-xs-7">
        <h1 class="title cursor-pointer" (click)="goBack()">
          <i class="ti-back-left"></i>
          {{titleText | humanize}} items
        </h1>
        <p class="category">The list of items in {{titleText | humanize}}.</p>
      </div>
      <div class="col-xs-3">
        <h2 class="category">Display type: </h2>
        <button class="btn btn-default" [ngClass]="{'btn-fill': displayType === 0}" (click)="selectDisplayType()">
          <i class="ti-view ti-view-list-alt"></i>
        </button>
        <button class="btn btn-default" [ngClass]="{'btn-fill': displayType === 1}" (click)="selectDisplayType()">
          <i class="ti-view ti-view-grid"></i>
        </button>
      </div>
      <div class="col-xs-2">
        <a class="btn btn-primary" (click)="addNew()">
          <i class="ti-plus"></i>
          Add new
        </a>
      </div>
    </div>
  </div>
  <div class="content">
    <table *ngIf="displayType === 0 && items.length > 0" class="table">
      <thead>
        <th class="text-left">Name</th>
        <th class="text-center">Category</th>
        <th class="text-center">Actions</th>
      </thead>
      <tbody>
        <tr class="cursor-pointer" *ngFor="let item of items">
          <td>
            <strong>
              {{item.brand}} {{item.model}}
            </strong>
          </td>
          <td class="text-center text-primary">
            {{item.category | humanize}}
          </td>
          <td class="justify-content-center">
            <button class="btn btn-sucess" (click)="update(item)">
              <i class="ti-pencil-alt"></i>
              Edit
            </button>
            <button class="btn btn-fill btn-danger" (click)="delete(item)">
              <i class="ti-tdash"></i>          
              Delete
            </button>
        </tr>
      </tbody>
    </table>

    <div class="row">
      <div class="col-md-12">
        <h2 class="text-warning" *ngIf="items.length === 0">No items added. Please add one.</h2>
      </div>
    </div>

    <div *ngIf="displayType === 1">
      <div class="items">
        <div class="card text-center cursor-pointer" *ngFor="let item of items">
          <h2 class="text-left text-primary">{{item.category | humanize}}</h2>
          <div class="header">
            <h3>
              {{item.brand}} {{item.model}}
            </h3>
          </div>
          <div class="content">
            <button class="btn btn-success" (click)="update(item)">Edit</button>
            <button class="btn btn-fill btn-danger" (click)="delete(item)">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>